<!DOCTYPE html>
<html>
<head>
  <title>Andrew Stuntz</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Droid+Sans', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='main'>
  <table>
    <tbody>
      <tr class= 'white'>
        <%= yield %>
        <td class= 'quarter align-top' >
          <div class='sidebar-links'>
            <div class='link-wrapper'>
              <i class='fa fa-home' aria-hidden='true' href='javascript:void(0)'></i><%= link_to 'Home', root_path%>
            </div>
            <div class='link-wrapper'>
              <i class='fa fa-file-text' aria-hidden='true' href='javascript:void(0)'></i><%= link_to 'Resume', resume_path%>
            </div>
            <div class='link-wrapper'>
              <i class='fa fa-code' aria-hidden='true' href='javascript:void(0)'></i><%= link_to 'Git First Timers', git_first_timers_path%>
            </div>
            <div class='link-wrapper'>
              <a class=big-icons href='https://www.github.com/drews256'>
                <i class='fa fa-github' aria-hidden='true' ></i>
              </a>
              <a class='big-icons' href='https://www.linkedin.com/in/andrewstuntz/'>
                <i class='fa fa-linkedin' aria-hidden='true'></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
